extends ./layout/index

block miContenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="sobre nosotros img", class="img-fluid mt-2")
            .col-md-7 
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis nunc urna. Phasellus imperdiet risus ac eros semper consequat. Vestibulum gravida aliquam ante, et tincidunt nisl congue vel. Proin eu ex maximus, fringilla lacus in, faucibus metus. Nulla in suscipit mauris. Fusce eget convallis tortor. Vestibulum posuere sed diam interdum maximus. Proin nec risus est. Sed ultrices aliquet quam consectetur tempor.

                p Fusce hendrerit ante eu erat scelerisque feugiat. Ut venenatis, neque vitae aliquam elementum, felis sem malesuada turpis, sollicitudin fermentum libero arcu nec justo. Proin dolor diam, auctor vel arcu at, lacinia porta purus. Vivamus sodales nisl non felis volutpat semper.

                p Fusce in lectus sed sem vulputate vehicula. Nunc luctus mauris purus, et dictum felis iaculis eget. Praesent diam massa, iaculis a iaculis eu, feugiat vitae nunc. Vivamus in urna a sem tincidunt eleifend. Sed vel risus ligula. Ut laoreet libero sed neque consectetur eleifend. Vestibulum eu vestibulum nibh.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis nunc urna.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis nunc urna.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis nunc urna.